<style>
	.font_1 {
		background-color: black;
		color: yellow;
		font-size: large;
	}
	.font_2 {
		background-color: darkblue;
		color: white;
		font-size: medium;
	}
	.My_Style {
		background-color: gray;
		color: cadetblue;
		text-decoration: underline;
		font-weight: bold;
		font-size: medium;
	}
</style>