body {
    background-color: #fff;
}

h1 {
    color: rgba(8, 141, 165, 1);
    margin-left: 100px;
    text-shadow: 1px .5px 4px rgba(0, 0, 0, 0.6);
}

.container{
    width: 450px;
    height: 450px;
    background-color: #faebd7;
    border: 2px solid black;
    border-radius: 5%;
}

/* SELECT ALL SQUARES IN THE ARRAY */

.container .squares:nth-child(-n+4){
    background-image: url("../Images/Icons/icons2.png");
    color: #fff;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 25%;
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

/* SELECT ALL SQUARES PARAGRAPHS IN THE ARRAY */

.squares:nth-child(-n+4) p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.8);
}

/* INDIVIDUALLY SELECT A SQUARE IN THE ARRAY */

.squares:nth-child(1){
    background-color: #4240ff;
}

.squares:nth-child(2){
    background-color: #ab3fdd;
}

.squares:nth-child(3){
    background-color: #ae163e;
}

.squares:nth-child(4){
    background-color: #00b200;
}

/* HOVER, TRANSLATE & TRANSFORM EFFECTS */

.container .squares:nth-child(-n+4):hover{
    background-image: url("../Images/Icons/icons1.png");
    transform: scale(.5);
    animation-name: race;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(2.5, .2, .3, 2);
}

.squares:nth-child(1):hover{
    background-color: #13b4ff;
}

.squares:nth-child(2):hover{
    background-color: #d861af;
}

.squares:nth-child(3):hover{
    background-color: #81205f;
}

.squares:nth-child(4):hover{
    background-color: #77b800;
}

/* ANIMATION EFFECT */
@keyframes race {
    0%, 100% {
        transform: translateY(0px);
        background-image: url("../Images/Icons/icons1.png");
    }
    50% {
        transform: translateY(300px);
    }
}

/***** Contact Form Styling *****/
/* Button used to open the contact form - fixed at the bottom of the page */
.Pop_Up_Button {
    position: fixed; /* The element is positioned relative to the viewport and stays in the same location no matter what */
    bottom: 1.75vw; /* Positions the button slightly up from the bottom of the viewport */
    right: 1.75vw; /* Positions the viewport slightly right from the side of the viewport */
    width: 25vw; /* Sets the width relative to the viewport width */
    background-color: white; /* Sets the background color of the button to white */
    color: black; /* Sets the color of the button text to black */
    border: solid black; /* This makes a solid black border around the button */
    cursor: pointer; /* This changes the cursor when hovered over the button to a pointer */
    -webkit-animation: movePopup 5s; /* Animation for 5 seconds for Safari 4.0-8.0 */
    animation: movePopup 5s; /* Animation set for 5 seconds */
}

/* movePopup animation moves the button from off the right side of the screen to its fixed location on the viewport */
@keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;} 
    to {right: 1.75vw;}
}

/* Styling for the contact form */
.form-popup {
    z-index: 8; /* This z-index ensures the contact form shows above all other elements on the page */
    display: none; /* Set the display to none, we will use JavaScript to show the contact form */
    position: fixed; /* The form stays in the same location no matter what */
    bottom: .5vw; /* Slightly up from the bottom of the viewport */
    right: .5vw; /* Slightly in from the right side of the viewport */
}

/* Form styling */
.form-container {
    max-width: 49vw; /* Relative sizing of the form container - 49% of the viewport width */
    padding: 1vw; /* Adds padding between the form-popup and the form-container */
    background-color: white; 
}

/* Input fields */
.form-container input[type=text] {
    width: 100%; /* The input boxes completely fill the width of the form-container */
    padding: .93vw; /* Adds padding to the input boxes */
    margin: .6vw 0 .6vw 0; /* Adds space between the input boxes and the labels */
    border: none; /* Removes the border from the input boxes */
    background: Gainsboro; /* Sets the background color of the input boxes */
    font-size: 1vw; /* Relative font sizing based on the width of the viewport */
}

/* General styling for all buttons */
button {
    font-family: "Trebuchet MS", Optima;
    letter-spacing: .3vw; /* Adds slight spacing between the letters */
    font-size: 1.5vw; /* Relative sizing of text */
    font-weight: bold; 
    padding: 1.5vw; /* Adds padding to the text in the button */
    cursor: pointer; /* Changes the cursor to pointer over button elements */
    width: 100%; /* Sets the width of the buttons to 100% of their containers */
    height: auto; /* Allows the height to be resized depending on the content showing */
}

/* Hover effect for contact and submit buttons */
button:hover, .form-container .btn:hover {
    color: white; /* This makes the text in the buttons white when hovered over */
    background-color: black; /* The background of the button changes to black when hovered over */
    transition-duration: 1s; /* This makes the transition last 1 second */
    -webkit-transition-duration: 1s; /* For Safari 4.0-8.0 */
    border-color: silver; /* The border turns silver when the button is hovered over */
}

/* Submit button */
.form-container .btn {
    background-color: white; 
    color: black;
    border-color: black;
    margin-bottom: 1vh; /* Adds space between the submit button and the close button */
}

/* Close button */
.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

/* Styling for close button on hover */
.form-container .cancel:hover {
    color: white;
    background-color: darkred;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: black;
}
/***** End of Contact Form Styling *****/
